div.menu {
	margin: 0;
	padding: 0;
	z-index: 10;
}

div.menu span {
	float: left;
	width: 8em;
	font-size: 120%;
	background: #006;
	color: #fff;
	padding: 0.5em;
	border: 3px solid #fff;
	font-family: 'Fredoka One';
	text-align: center;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

div.menu a {
	text-decoration: none;
}

div.menu span.active {
	background: #00f;
}

