html, body, #map {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: white;
	color: black;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 100%;
	margin-bottom: 0px;
	margin: 0;
	padding: 0;
}

label {
	font-size: 90%;
	width: 90%;
	padding-left: 1em;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.options {
	padding-left: 0.5em;
}

div.columns {
	float: left;
	vertical-align: top;
}

form, select {
	width: 99%;
}

span {
	font-size: 75%;
	font-weight: normal;
}

span.subtle {
	color: #888;
}

span.estimate {
	color: #f44;
}

span.lastseen {
	color: #0c0;
}

hr {
	clear: both;
}

#route span {
	display: block;
	width: 6em;
	float: left;
	font-weight: bold;
	font-size: 90%;
}

