html, body, #map {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: white;
	color: black;
}

h1 {
	font-size: 120%;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

label {
	font-size: 90%;
	width: 90%;
	padding-left: 1em;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.options {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div.columns {
	float: left;
	vertical-align: top;
}

form, select {
	width: 99%;
}

span {
	font-size: 75%;
	font-weight: normal;
}

span.subtle {
	color: #888;
}

span.estimate {
	color: #f44;
}

span.lastseen {
	color: #0c0;
}

hr {
	clear: both;
}

div.format > span {
	display: block;
	width: 7em;
	float: left;
	font-weight: bold;
	font-size: 90%;
}

span.climbed {
	font-size: 110%;
	color: green;
}

#item span {
	font-weight: bold;
	font-size: 90%;
}

#ll {
	font-size: 90%;
	position: absolute;
	bottom: 0;
	left: 0;
}
